<!-- <div class="full-screen-scroller">
  <div class="fss-dotted-scrollspy">
    <button type="button" class="fss-nav-btn fss-mainview-prev">
      <i class="fas fa-chevron-up"></i>
    </button>
    <a href="#home" class="fss-nav-item active"></a>
    <a href="#about" class="fss-nav-item"></a>
    <a href="#contact" class="fss-nav-item"></a>
    <button type="button" class="fss-nav-btn fss-mainview-next">
      <i class="fas fa-chevron-down"></i>
    </button>
    
  </div>

  <div fss-anchor="home" class="fss-mainview fss-about">
               
  
  </div>
  

  <div fss-anchor="#about" class="fss-mainview view3">
      <div class="box">
        <div class="info">About</div>
      </div>
    </div>

    <div fss-anchor="#about" class="fss-mainview view3">
        <div class="box">
          <div class="info">Contact us</div>
        </div>
      </div>

</div> -->


<div class="container">


  <i class="fa fa-bars" id="collapse" aria-hidden="true"></i>
    
<div class="mainimgcontainer">
  <div class="mainnavbar">
    <div class="navbar navbar-default">
      <div class="navbar-brand">
        
        
        
        <div class="sidebarmenu">
          <i class="fa fa-times"></i>
          <p class="center">
            <a href="#">
              
            </a>
          </p>
          <ul class="navigation list-unstyled">
            <li  class=navigationitem><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li  class=navigationitem><a routerLink="/pest-detect" routerLinkActive="active">Pest Detect</a></li>
            <li  class=navigationitem><a routerLink="/feedback" routerLinkActive="active">Feedback</a></li>
            <li  class=navigationitem><a routerLink="/help" routerLinkActive="active">Help</a></li>
            <li  class=navigationitem><a routerLink="/faqs" routerLinkActive="active">FAQs</a></li>
            <li  class=navigationitem><a routerLink="/documentation" routerLinkActive="active">Documentation</a></li>

          </ul>
        </div>

      </div>
  </div>
</div>
   <h1 class="heading">Seheyogi</h1>

  <div class="row">
    <p class="para">Lorem ipsum dolor sit amet consectetur,
       adipisicing elit. Autem unde animi veniam explicabo
       necessitatibus tempora sint nisi error, odit impedit incidunt 
       nostrum rem dicta harum, facilis, voluptas dignissimos maxime reiciendis?
    </p>
    <br>
    <br>
    
  </div>
    
</div>





