.sidenav{
    left:0;
    top:0;
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    background-color: rgb(44, 44, 46);
    overflow: auto;
    padding-top: 20px;
}




.sidenav a{
    text-decoration: none;
    padding: 10px 10px 10px 25px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    text-transform: uppercase;
    box-sizing: border-box;
    border-bottom: solid 1px palevioletred;
}

input[type=text] {
    margin-left:950px;
    
    box-sizing: border-box;
    border: 2px solid rgb(100, 100, 155);
    border-radius: 6px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 100%;
  }

  /* .side-navbar {
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(44, 44, 46);
    overflow: auto;
    padding-top: 20px;
}

.side-navbar a {
    padding: 10px 10px 10px 25px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    text-transform: uppercase;
    box-sizing: border-box;
    border-bottom: solid 1px palevioletred;
}



  .card {
    box-shadow: 5px 10px #888888;
  }

  

  .far fa-search{
      padding-right:10px;
      padding-top:5px;
      margin-right:2px;
      margin-left:30px;
      padding-left: 10px;
  }

  .card-title{
      font-family: cursive;


  }

  .card-text{
      font-family:cursive;
      width:6rem;
  }




.mainnavbar {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 20px;



 
.searchbar {
    position: fixed;
    padding: 16px;
    padding-top: 15px;
    padding-bottom: 20px;
    border-radius: 0%;
    top: 29px;
    right: 66px;
    margin-top: 10px;
    color: white;
    cursor: pointer;
    z-index: 500;
    font-size: 1em;
}




.card:hover {
    box-shadow: 0 8px  16px 0 rgba(0,0,0,0.8);
}

 */
