.rg{
    background-image: url("http://footage.framepool.com/shotimg/qf/260057647-visions-of-israel-irrigation-industrial-agriculture-farm-section-of-agricultural-land.jpg");
    height: 100vh; 
    background-position: no-repeat;
    background-size: cover;
    opacity:0.6;
}

.center{
    text-align:center;
    }

.jumbotron{
    background-color: black;
    color:white;
    border-style: none;
    font-family: cursive;
    font-size: 30px;
    opacity: 0.5;
    position: relative;
        
}