<!DOCTYPE HTML>
<html>

<head>
	<title>Associate With us</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<link href="/associateassets/css/style.css" rel='stylesheet' type='text/css' />
</head>

<body>

	<nav class="navbar">

		<div class="logo">
			<a class="logo" href="/"><img src="/associateassets/images/_seheyogi logo white.png"/></a>
		</div>

		<span class="openslide">
			<a href="#" id="black" onclick="openSlideMenu()">
				<svg width="30" height="30">
					<path d="M0,5  30,5" stroke="#fff"
					stroke-width="5"/>
					<path d="M0,14  30,14" stroke="#fff"
					stroke-width="5"/>
					<path d="M0,23  30,23" stroke="#fff"
					stroke-width="5"/>
				</svg>	
			</a>
		</span>
	</nav>

	<div id="slide-menu" class="side-nav">
		<ul>
			<li><a href="#" class="btn-close" onclick="closeSlideMenu()">&times;</a></li>
			<li><a  class="links" href="/" >Home</a></li>
			<li><a class="links" href="/howtouse" >How to use</a></li>			
			<li><a class="links" href="/documentation" >Documentation</a>
			<li><a class="links" href="/detectpest" >Detect pest</a></li>
			<li><a class="links" href="/associatewithus" >Associate with us</a></li>
			<li><a class="links" href="/faqs" >Faqs</a></li>
			<li><a class="links" href="/links" >Links and Credits</a></li>
			<li><a class="links" href="/feedback" >Feedback</a></li>
		</ul>
	</div>


	<div class="maindiv" >

	<h1>Associate With Us </h1>
	<div class="w3ls-login box box--big">
		<form method="post" action="/associatewithus">
			<div class="agile-field-txt">
				<label>Name</label>
				<input type="text" name="name" placeholder="Enter Name" required="" />
			</div>

			<div class="agile-field-txt">
				<label>E-mail</label>
				<input type="text" name="email" placeholder="Enter E-mail" required="" />
			</div>

			<div class="agile-field-txt">
				<label>Contact </label>
				<input type="text" name="contact" placeholder="Enter Contact" required="" id="myInput" />
				<div class="agile_label">
					<input id="check1" name="check3" type="radio" value="Researcher">
						<!-- onclick="myFunction()" -->
					<label class="check" for="check3">Researcher</label>

					<input id="check2" name="check3" type="radio" value="Farmer">
						<!-- onclick="myFunction()" -->
					<label class="check" for="check3">Farmer</label>

					<input id="check3" name="check3" type="radio" value="Other">
						<!-- onclick="myFunction()" -->
					<label class="check" for="check3">Other</label>
				</div>
				
			</div>

			<input type="submit" value="SUBMIT">
		</form>
	</div>

		
	</div>

	<script>
		function openSlideMenu() {
			document.getElementById('slide-menu').style.width='300px';
		}

		function closeSlideMenu() {
			document.getElementById('slide-menu').style.width='0';
		}

	</script>

</body>
</html>