<!DOCTYPE HTML>
<html>

<head>
	<title>Associate With Us</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="A webpage so that the scientist and curious paople can help us ">
	<link rel="stylesheet" href="/associateassets/css/main.css" />
	
	<link href="/associateassets/css/style.css" rel='stylesheet' type='text/css' />
	
</head>

<body>
	<div>

		<header id="header">
				<a class="logo" href="/">
					<p><img src="/associateassets/images/_seheyogi logo white.png"/></p></a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="#">How to use</a></li>
					<li><a href="#">Documentation</a></li>
					<li><a href="#">Associate with us</a></li>
					<li><a href="#">Detect Pest</a></li>
					<li><a href="#">FAQs</a></li>
					<li><a href="#">Links</a></li>
					<li><a href="#">Credits</a></li>
					<li><a href="#">Feedback</a></li>
				</ul>
			</nav>
		</div>
		<div class="maindiv" >

	<h1>Associate With Us </h1>
	<div class="w3ls-login box box--big">
			<form action="#" method="post">
			<div class="agile-field-txt">
					<label>Name</label>
					<input type="text" name="name" placeholder="Enter Name" required="" />
				</div>
			<div class="agile-field-txt">
				<label>E-mail</label>
				<input type="text" name="name" placeholder="Enter E-mail" required="" />
			</div>
			<div class="agile-field-txt">
				<label>Contact no</label>
				<input type="text" name="password" placeholder="Enter Contact" required="" id="myInput" />
			
				<div class="agile_label">
					<input id="check1" name="check3" type="radio" value="Researcher">
					 
					<label class="check" for="check3">Researcher</label>

					<input id="check2" name="check3" type="radio" value="Researcher">
					 
					<label class="check" for="check3">Farmer</label>

					<input id="check3" name="check3" type="radio" value="Researcher">
					 
					<label class="check" for="check3">Other</label>


				</div>
				
			</div>
			
				<input type="submit" value="SUBMIT">
		</form>
	</div>

			
			<script src="/associateassets/js/jquery.min.js"></script>
			<script src="/associateassets/js/browser.min.js"></script>
			<script src="/associateassets/js/breakpoints.min.js"></script>
			<script src="/associateassets/js/util.js"></script>
			<script src="/associateassets/js/main.js"></script>

		</div>
</body>
</html>