<!DOCTYPE HTML>
<html>

<head>
  <title>night_sky - contact us</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="linkscreditsassets/style/style.css" /> 
</head>
<body>

  
  <nav class="navbar">

    <div class="logo">
      <a href="/"><img src="linkscreditsassets/images/_seheyogi logo white.png"/></a>
    </div>
    
    <span class="openslide">
      <a href="/links" id="black" onclick="openSlideMenu()">
        <svg width="30" height="30">
          <path d="M0,5  30,5" stroke="#fff"
          stroke-width="5"/>
          <path d="M0,14  30,14" stroke="#fff"
          stroke-width="5"/>
          <path d="M0,23  30,23" stroke="#fff"
          stroke-width="5"/>
        </svg>  
      </a>
    </span>
    
  </nav>
    
  <div id="slide-menu" class="side-nav">
    <ul>
      <li><a href="#" class="btn-close" onclick="closeSlideMenu()">&times;</a></li>
	    <li><a  class="links" href="/" >Home</a></li>
		      <li><a class="links" href="/howTOuse" >How to use</a></li>
		      <li><a class="links" href="detectpest" >Detect pest</a></li>
		      <li><a class="links" href="/associateWITHus" >Associate with us</a></li>
		      <li><a class="links" href="/faqs" >Faqs</a></li>
		      <li><a class="links" href="/links" >Links and Resources</a></li>
		      <li><a class="links" href="/feedback" >Feedback</a></li>
		      <li><a class="links" href="/documentation" >Documentation</a>
    </ul>
  </div>

  <div id="main">
    <div id="header">
      <div id="logos">
        <div id="logos_text"></div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <li class="selected"><a href="/links">Credits</a></li>
          <li><a href="/links">Links</a></li>
        </ul>
      </div>
    </div>

    <div class="contents">         
      <div id="subhead2"><b>Links</b></div>
      <p>These are some of the useful links providing fact sheets and photographs on many insects found in the Indian subcontinent.</p>
      <div id="para1">
        <ul>
          <li><a class="style" target="_blank" href="http://idtools.org/">ID Tools (Compilation of websites on pest identification) </a></li>
          <li><a class="style" target="_blank" href="http://www.catalogueoflife.org/annual-checklist/2012/details/database/id/27">World Scarabaeidae Database</a></li>
          <li><a class="style" target="_blank" href="http://www.agritech.tnau.ac.in/crop_protection/crop_prot_crop_insect_pest.html">TNAU Agritech Portal (Diagnostics and management of pests of crops)</a></li>
          <li><a class="style" target="_blank" href="http://www.lucidcentral.org/">Lucid Keys (Interactive keys to different  insects)</a></li>
          <li><a class="style" target="_blank" href="http://www.padil.gov.au/">PaDIL (Pest and Disease Image Library)</a></li>
          <li><a class="style" target="_blank" href="http://ifoundbutterflies.org/">Indian Foundation for Butterflies (Information and images on more than 600 species of Indian butterflies)</a></li>
          <li><a class="style" target="_blank" href="http://www.flickr.com/groups/mothsofindia/">Moths of India (Images and information on Indian moths)</a></li>
          <li><a class="style" target="_blank" href="http://www.insectsofindia.in/">Insects of India (Images and information on Indian insects)</a></li>
          <li><a class="style" target="_blank" href="http://www.nbair.res.in/Featured_insects/index.php">Featured Insects (Fact sheets on common insect bioagents)</a></li>
          <li><a class="style" target="_blank" href="http://entnemdept.ufl.edu/creatures/">Featured Creatures (Fact sheets on insects, nematodes, arachnids and other organisms)</a></li>
          <li><a class="style" target="_blank" href="http://www.ent.iastate.edu/list/directory/92/vid/4">Image Galleries on Insects (Image galleries by taxonomic group - general)</a></li>
          <li><a class="style" target="_blank" href="http://www.nbair.res.in/Introductions/Insects/index.htm">Biocontrol Introductions (Introduction of insect bioagents for Classical Biological Control)</a></li>
          <li><a class="style" target="_blank" href="http://www.insectimages.org/">Insect Images (General)</a></li>
          <li><a class="style" target="_blank" href="http://www.saturniidae-web.de/">Saturniidae World (Images of Saturniidae)</a></li>
          <li><a class="style" target="_blank" href="http://www.indianaturewatch.net/">India Nature Watch (Insects and other invertebrates)</a></li>
          <li><a class="style" target="_blank" href="http://www.antdiversityindia.com/">Ants of India (Images and information on Indian ants)</a></li>
          <li><a class="style" target="_blank" href="http://www.flickr.com/groups/indspiderinsect/pool/">Insects &amp; Spiders of India (General) </a></li>
          <li><a class="style" target="_blank" href="http://www.indian6and8legs.com/">Indian Insects and Arachnids</a></li>
          <li><a class="style" target="_blank" href="http://www.flickr.com/photos/naseer_ommer/sets/72157600460076324/">Insects of Southern India</a>	</li>
          <li><a class="style" target="_blank" href="http://www.alansfactoryoutlet.com/identify-the-pests-attacking-your-garage-or-yard/">Identify the Pests Attacking Your Garage or Yard</a></li>
          <li><a class="style" target="_blank" href=" http://www.playgroundequipment.com/learning-about-insects-on-the-playground/">Learning About Insects on the Playground</a></li>
        </ul>
      </div>
    </div>
  </div>
    
  <script>
    function openSlideMenu() {
      document.getElementById('slide-menu').style.width='300px';
    }

    function closeSlideMenu() {
      document.getElementById('slide-menu').style.width='0';
    }

  </script>


</body>
</html>
