<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="/css/style.css"> <!-- Resource style -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

	<!-- jQuery & Bootstrap -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<title>Documentation</title>
</head>
<body>
	<header class="cd-main-header">
		<a href="/"><img src="/images/logo.png" class="docs-logo" alt="Logo"></a>
		
		<div class="cd-search is-hidden">
			<form action="#0">
				<input type="search" placeholder="Search...">
			</form>
		</div>

		<a href="#0" class="cd-nav-trigger"><span></span></a>
	</header>

	<main class="cd-main-content">
		<nav class="cd-side-nav">
			<ul>
				<li class="cd-label"> Crop Names</li>
				<% for(var i=0; i<crops.length; i++) { %>
					<li class="has-children active">
						<a href="<%= crops[i].crop%>"><%= crops[i].crop %></a>
					</li>
				<% }; %>
			</ul>
		</nav>
	</main>
	<div class="container">
		<div class="docs-box">
			<div class="row">

				<% for(var j=0; j<pests.length; j++) { %>
					<div class="column">
					<div class="card">
						<a href = ""> <!-- Add Link for pests-->
						<img src = "/images/logo.png" class="docs-image"> <!-- Change scheme to mainimage and insert here-->
						<p><%= pests[j].pestname %></p>
						<p><%= pests[j].scientificname %></p>
						</a>
					</div>
					</div>
				<% }; %>
			</div>
		</div>
	</div>
	

<script src="/javascripts/jquery-2.1.4.js"></script>
<script src="/javascripts/modernizr.js"></script>
<script src="/javascripts/jquery.menu-aim.js"></script>
<script src="/javascripts/maindocs.js"></script>
</body>
</html>