<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="faqassets/bootstrap-4.0.0-dist/css/bootstrap.min.css">
    <script src="faqassets/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script> 
    <title>FAQs</title>
    <link rel="stylesheet" href="faqassets/faq.css" type="text/css">

</head>
<body>

  <nav class="navbar">

    <div class="logo">
            <a href="/"><img src="faqassets/images/_seheyogi logo white.png"/></a>
    </div>
  
    <span class="openslide">
      <a href="#" id="black" onclick="openSlideMenu()">
        <svg width="30" height="30">
          <path d="M0,5  30,5" stroke="#fff"
          stroke-width="5"/>
          <path d="M0,14  30,14" stroke="#fff"
          stroke-width="5"/>
          <path d="M0,23  30,23" stroke="#fff"
          stroke-width="5"/>
        </svg>
      </a>
    </span>
  
  </nav>
    
  <div id="slide-menu" class="side-nav">
    <ul>
      <li><a href="#" class="btn-close" onclick="closeSlideMenu()">&times;</a></li>
	    <li><a  class="links" href="/" >Home</a></li>
		    <li><a class="links" href="/howTOuse" >How to use</a></li>
		    <li><a class="links" href="detectpest" >Detect pest</a></li>
		    <li><a class="links" href="/associateWITHus" >Associate with us</a></li>
		    <li><a class="links" href="/faqs" >Faqs</a></li>
		    <li><a class="links" href="/links" >Links and Resources</a></li>
		    <li><a class="links" href="/feedback" >Feedback</a></li>
		    <li><a class="links" href="/documentation" >Documentation</a>
    </ul>
  </div>
  

  <div class="container bg">
    <div class="row">
      <div class="col-md-4">
        <div class="heading">
          <h1>
            FAQS
          </h1>
        </div>
      </div>
    </div>
  </div>

  <div class="faqabout">
    <div class="faqmain">
      <div class="colcon">
        <div class="qa">
          <div class="qaheight">
            <div class="q">
              <span><strong>Q:</strong></span>
              <span>What is Seheyogi?</span>
            </div>
            <div class="ans">
              <span><strong>A:</strong></span>
              <span>Seheyogi is a Web Portal where you can easily access all the pest	related documentation at one place.</span>
            </div>
          </div>
        </div>

        <div class="qa">
          <div class="qaheight">
            <div class="q">
              <span><strong>Q:</strong></span>
              <span>How to use “lorem Ipsum”?</span>
            </div>
            <div class="ans">
              <span><strong>A:</strong></span>
              <span>you can learn with the following video links:
                  Hindi Video: *link*
                  English Video: *link*</span>
            </div>
          </div>
        </div>
      </div>

      <div class="colcon">
        <div class="qa">
          <div class="qaheight">
            <div class="q">
              <span><strong>Q:</strong></span>
              <span>Why is Seheyogi different?</span>
            </div>
            <div class="ans">
              <span><strong>A:</strong></span>
              <span>Seheyogi puts all the pest related information in a very simple to 	understand and in a very intuitive pattern.</span>
            </div>
          </div>
        </div>

        <div class="qa">
          <div class="qaheight">
            <div class="q">
              <span><strong>Q:</strong></span>
              <span>Not your pest in “lorem Ipsum”?</span>
            </div>
            <div class="ans">
              <span><strong>A:</strong></span>
              <span>Go to the feedback button on the end of “lorem ipsum” page. Send your feed back in any form.</span>
            </div>
          </div>
        </div>
      </div>

      <div class="colcon">
        <div class="qa">
          <div class="qaheight">
            <div class="q">
              <span><strong>Q:</strong></span>
              <span>What is “lorem ipsum”?</span>
            </div>
            <div class="ans">
              <span><strong>A:</strong></span>
              <span>“lauremIpsum is a web portal{ more of an e- kiosk } which helps farmers to identify the types of pests which is affecting their crops , find their solution, and get pesticide recommendation.</span>
            </div>
          </div>
        </div>
        <div class="qa">
          <div class="qaheight">
            <div class="q">
              <span><strong>Q:</strong></span>
              <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry?</span>
            </div>
            <div class="ans">
              <span><strong>A:</strong></span>
              <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    function openSlideMenu() {
        document.getElementById('slide-menu').style.width='300px';
    }

    function closeSlideMenu() {
        document.getElementById('slide-menu').style.width='0';
    }

  </script>
          
    
</body>
</html>