<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact V15</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
    
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="feedbackassets/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="feedbackassets/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="feedbackassets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="feedbackassets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="feedbackassets/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="feedbackassets/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="feedbackassets/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="feedbackassets/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="feedbackassets/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="feedbackassets/css/util.css">
	<link rel="stylesheet" type="text/css" href="feedbackassets/css/main.css">
<!--===============================================================================================-->
</head>
<body >

	<nav class="navbar">

		<div class="logo">
			<a href="/"><img src="feedbackassets/images/_seheyogi logo white.png"/></a>
		</div>

		<span class="openslide">
			<a href="#" id="black" onclick="openSlideMenu()">
				<svg width="30" height="30">
					<path d="M0,5  30,5" stroke="#fff"
					stroke-width="5"/>
					<path d="M0,14  30,14" stroke="#fff"
					stroke-width="5"/>
					<path d="M0,23  30,23" stroke="#fff"
					stroke-width="5"/>
				</svg>	
			</a>
		</span>
	</nav>

	<div id="slide-menu" class="side-nav">
		<ul>
			<li><a href="#" class="btn-close" onclick="closeSlideMenu()">&times;</a></li>
			<li><a  class="links" href="/" >Home</a></li>
			<li><a class="links" href="/howtouse" >How to use</a></li>			
			<li><a class="links" href="/documentation" >Documentation</a>
			<li><a class="links" href="/detectpest" >Detect pest</a></li>
			<li><a class="links" href="/associatewithus" >Associate with us</a></li>
			<li><a class="links" href="/faqs" >Faqs</a></li>
			<li><a class="links" href="/links" >Links and Credits</a></li>
			<li><a class="links" href="/feedback" >Feedback</a></li>
		</ul>
	</div>


	<div class="container-contact100">
		<div class="wrap-contact100">
			<div class="contact100-form-title" style="background-image: url('feedbackassets/images/crops.jpeg');">
				<h1>
					FEEDBACK
				</h1>
				 
				<span class="contact100-form-title-2">
				    Enter the details in order to get help!!
				</span>
			</div>

			<form class="contact100-form validate-form" method="post" action="/feedback">
				<div class="wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Full Name:</span>
					<input class="input100" type="text" name="name" placeholder="Enter full name">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="season is required">
					<span class="label-input100">Season:</span>
					
					<select class="form-control" id="sel1" name="season">
						<option value="Enter your season" disabled selected>Choose your option</option>
						<option>Kharif</option>
						<option>Rabi</option>
						<option>Zail</option>	
						</select>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="state is required">
					<span class="label-input100">States:</span>

							<select class="form-control" id="sel1" name="state">
							<option value="Enter your state" disabled selected>Choose your option</option>
							<option value="Andhra Pradesh">Andhra Pradesh</option>
							<option value="Arunachal Pradesh">Arunachal Pradesh</option>
							<option value="Assam">Assam</option>
							<option value="Red">Bihar</option>
							<option value="Red">Chhattisgarh</option>
							<option value="Red">Goa</option>
							<option value="Red">Gujarat</option>
							<option value="Red">Haryana</option>
							<option value="Red">Himachal Pradesh</option>
							<option value="Red">Jammu&Kashmir</option>
							<option value="Red">Jharkhand</option>
							<option value="Red">Kerala</option>
							<option value="Red">Madhya Pradesh</option>
							<option value="Red">Maharashtra</option>
							<option value="Red">Manipur</option>
							<option value="Red">Meghalya</option>
							<option value="Red">Odisha</option>
							<option value="Red">Mizoram</option>
							<option value="Red">Nagaland</option>
							<option value="Red">Punjab</option>
							<option value="Red">Sikkim</option>
							<option value="Red">Rajashtan</option>
							<option value="Red">Tripura</option>
							<option value="Red">Uttar Pradesh</option>
							<option value="Red">Uttarakhand</option>
							<option value="Red">Tamil Nadu</option>
							<option value="Red">Telangana</option>
							<option value="Red">West Bengal</option>
							
						  </select>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="soil is required">
					<span class="label-input100">Soil:</span>
					
						<select class="form-control" name="soil">					  
							<option value="Enter soil" disabled selected>Choose your option</option>
							<option value="Alluvial">Alluvial soil</option>
							<option value="Black">Black soil</option>
							<option value="Red">Red soil</option>
							<option value="Desert">Desert soil</option>
							<option value="Laterite">Laterite soil</option>
							<option value="Mountain">Mountain soils</option>
						</select>

						  
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="crop is required">
					<span class="label-input100">Crop:</span>
					<input class="input100" type="text" name="crop" placeholder="Enter crop name">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="pest is required">
					<span class="label-input100">Pest:</span>
					<input class="input100" type="text" name="pest" placeholder="Enter pest type">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<span class="label-input100">Email:</span>
					
					<input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email" data-error="Bruh, that email address is invalid" required>
					<div class="help-block with-errors"></div>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Phone is required">
					<span class="label-input100">Phone:</span>
					<input class="input100" type="text" name="phone" placeholder="Enter phone number" required>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "description is required">
					<span class="label-input100">Description:</span>
					<textarea class="input100" name="desc" placeholder="Your Comment..." required></textarea>
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							Submit
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>

	<script>
		function openSlideMenu() {
			document.getElementById('slide-menu').style.width='300px';
		}

		function closeSlideMenu() {
			document.getElementById('slide-menu').style.width='0';
		}
	</script>



</body>
</html>
