<!DOCTYPE HTML>

<html>
	<head>
		<title>Seheyogi</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="/homepageassets/css/main.css" />
	</head>
	<body class="is-preload">

		
			<header id="header">
				<a class="logo" href="/">

						<img src="/homepageassets/images/ seheyogi logo white.png"/>
				</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		
				<nav id="menu">
					<ul class="links">
						<li><a href="/home">Home</a></li>
						<li><a href="/howtouse">How to use</a></li>
						<li><a href="/documentation">Documentation</a></li>
						<li><a href="/associateWITHus">Associate with us</a></li>
						<li><a href="/detectpest">Detect Pest</a></li>
						<li><a href="/faqs">FAQs</a></li>
						<li><a href="/links">Links</a></li>
						<li><a href="/credits">Credits</a></li>
						<li><a href="/feedback">Feedback</a></li>
					</ul>
				</nav>


		
			<section id="banner">
				<div class="inner">
					<h1><img src="/homepageassets/images/ seheyogi name white.png"/></h1>
					<p>Seheyogi is a web app which displays the documented pests in a very attractive UI so that it can be easily read by individuals. A web portal which facilitates farmers to identify the type of pest and find its solution	.</p>
				</div>
				<video autoplay loop muted playsinline src="/homepageassets/images/banner.mp4"></video>
			</section>

		
			<section class="wrapper">
				<div class="inner">
					<header class="special"> Government Of India Initiative
						<h2>About</h2>
						<p>Dear Farmer, since you have landed on this page just mind this is not just a website. Some of the main features of this website are</p>
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<p>
									<a href="#" class="fa fa-file-text-o" style="font-size:70px"><span class="label"></span></a> </p>
									<p><h3>Documentation</h3></p>
								</header>
								<p> UI based compilation of details of pest found in india</p>		
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-files-o"><span class="label">Icon</span></a>
									<h3>Detect Pest</h3>
								</header>
								<p>An e-Kiosk for Farmers to Detect the pest affecting their crops and its solution</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-floppy-o"><span class="label">Icon</span></a>
									<h3>Associate with us</h3>
								</header>
								<p>Are you a Researcher?
								</p>
								<p>If yes, associate with us and share your solutions and discoveries about pests</p>
							


							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-line-chart"><span class="label">Icon</span></a>
									<h3>FAQs</h3>
								</header>
								<p>Some of the most asked doubts amongst users.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-paper-plane-o"><span class="label">Icon</span></a>
									<h3>Contact Us / FeedBack</h3>
								</header>
								<p>Not satisfied with our solutions and our way?</p>
								<p>Contact us and give feedback.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-qrcode"><span class="label">Icon</span></a>
									<h3>Links and Resources</h3>
								</header>
								<p>you will find all the important resources and links here.</p>
							</div>
						</section>
					</div>
				</div>
			</section>

		
			<section id="cta" class="wrapper">
				<div class="inner">
					<!-- <h2>Curabitur ullamcorper ultricies</h2>
					<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing. Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing sed feugiat eu faucibus. Integer ac sed amet praesent. Nunc lacinia ante nunc ac gravida.</p> -->
				</div>
			</section>

		
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>The Help To The Helpers</h3>
							<p>To all the farmers landing on this page. You provide us with the basic need of our life and in return we have tried providing the help that you need to grow the crop. Your suggestions and views are always welcome</p>
						</section>
						<section>
							<h4>The Contributors </h4>
							<ul class="alt">
								<li><a href="#">Government of India</a></li>
								<li><a href="#">ICAR</a></li>
								<li><a href="#">NBAIR</a></li>
								<li><a href="#">THE DECOITS</a></li>
							</ul>
						</section>
						<section>
							<h4>Find Us At</h4>
							<ul class="plain">
								<li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
								<li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
								<li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
								<li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; A Government Of India Initiative
					</div>
				</div>
			</footer>

		
			<script src="/homepageassets/js/jquery.min.js"></script>
			<script src="/homepageassets/js/browser.min.js"></script>
			<script src="/homepageassets/js/breakpoints.min.js"></script>
			<script src="/homepageassets/js/util.js"></script>
			<script src="/homepageassets/js/main.js"></script>

	</body>
</html>