<!DOCTYPE HTML>
<html>

<head>
  <title>links and Credits</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="linkscreditsassets/style/style.css" />
</head>
<body>
  <nav class="navbar">
    <div class="logo">
      <a href="/"><img src="linkscreditsassets/images/_seheyogi logo white.png"/></a>
    </div>

    <span class="openslide">
      <a href="/credits" id="black" onclick="openSlideMenu()">
        <svg width="30" height="30">
          <path d="M0,5  30,5" stroke="#fff"
          stroke-width="5"/>
          <path d="M0,14  30,14" stroke="#fff"
          stroke-width="5"/>
          <path d="M0,23  30,23" stroke="#fff"
          stroke-width="5"/>
        </svg>    
      </a>
    </span>

  </nav>

  <div id="slide-menu" class="side-nav">
    <ul>
      <li><a href="#" class="btn-close" onclick="closeSlideMenu()">&times;</a></li>
      <li><a  class="links" href="/" >Home</a></li>
        <li><a class="links" href="/howTOuse" >How to use</a></li>
        <li><a class="links" href="detectpest" >Detect pest</a></li>
        <li><a class="links" href="/associateWITHus" >Associate with us</a></li>
        <li><a class="links" href="/faqs" >Faqs</a></li>
        <li><a class="links" href="/links" >Links and Resources</a></li>
        <li><a class="links" href="/feedback" >Feedback</a></li>
        <li><a class="links" href="/documentation" >Documentation</a>
    </ul>
  </div>
 
  <div id="header">
    <div id="logos">
      <div id="logos_text">
        
      </div>
    </div>
    <div id="menubar">
      <ul id="menu">
        <li class="selected"><a href="index.html">Credits</a></li>
        <li><a href="/credits">Links</a></li>
      </ul>
    </div>
  </div>

  <div class="content">
    <div id="subhead2"><b>Credits</b></div>
    <p>The images used in this compendium were generated under the Network Project on Insect Biosystematics funded by the Indian Council of Agricultural Research, New Delhi. The insect collections used for this are housed at ICAR-NBAIR, Bangalore. </p>
    <p>Thanks are due to <b>Dr. Chandish R. Ballal</b>, Director ICAR-NBAIR & National Co-ordinator of the Network Project, and <b>Dr. V.V. Ramamurthy</b>, former National Co-ordinator of the Network Project for their support and encouragement. </p>
    <p>This website was conceptualized, hosted and managed by <b>Dr. J. Poorani</b> from 2012 to May 2015. The vast majority of the images and identifications are by her. This is currently being managed by Dr. Ankita Gupta.</p>
    <p><b>PI:</b> Dr. J. Poorani, Principal Scientist, ICAR-NBAIR (till 8<sup>th</sup> May 2015)<br/>
    <b>PI:</b> Dr. Prashant Mohanraj, Principal Scientist, ICAR-NBAIR (from 9<sup>th</sup> May 2015 onwards)<br/>
    <b>Co-PI:</b> Dr. Ankita Gupta, Scientist(SS), ICAR-NBAIR</p>
    <p>Contributors of specimens/images/identifications:</p>

    <div id="para1">
      <ul>
        <li>Dr. J. Poorani, ICAR-NRCB, Tiruchirapalli</li>
        <li>Dr. Ankita Gupta, ICAR-NBAIR, Bangalore</li>
        <li>Dr. C.A. Virakthamath, NPIB, UAS, Bangalore  
        <li>Dr. Yeshwanth H.M., NPIB, UAS, Bangalore</li>
        <li>Dr. Chandish R. Ballal, Director ICAR-NBAIR, Bangalore</li>
        <li>NPIB, TNAU, Coimbatore</li>
        <li>Mr. Sankararaman H., M. Sc., Agricultural Entomology, Annamalai University</li>-->
          <li>Dr. R. Swaminathan, MPUAT, Udaipur centre (NPIB)</li>
        <li>Dr. Prakash Kumar, Deputy Director, Agriculture Office, Sirohi</li>
        <li>Dr. Sandeep Singh, Assistant Entomologist, Punjab Agricultural University</li> 
      </ul>
    </div>
    <p>The following staff of NBAIR are/were involved in collection & curation: </p>

    <div id="para1">
      <ul>
        <li>S.K. Rajeshwari</li>
        <li>Umeshkumar I. Sanjeev</li>
        <li>A. Ramesh kumar</li>
        <li>Sandesh M. Gawas</li>
        <li>V. Naveen (till July 2015)</li>
        <li>L. Lakshmi (till May 2015)</li>
      </ul>
    </div>
    <p>Website designed by:</p>

    <div id="para1">
      <ul>
        <li>Malathi Chitrala, SRF, NPIB project, NBAIR, Bangalore</li>
      </ul>
    </div>
    <p>Some photos have been used with the consent of the owners, with due photo credits in the concerned pages. </p>
  </div>

  <script>
    function openSlideMenu() {
        document.getElementById('slide-menu').style.width='300px';
    }

    function closeSlideMenu() {
        document.getElementById('slide-menu').style.width='0';
    }
  </script>

</body>
</html>
