<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Seheyogi</title>
</head>
<body>
    <a href="/faq">
        <button type="button" >FAQ</button>
    </a>

    <a href="/questionaire">
        <button type="button" >Questionaire</button>
    </a>

    <a href="/feedback">
        <button type="button" >Feedback</button>
    </a>

    <a href="/links">
        <button type="button" >Links</button>
    </a>

    <a href="/credits">
        <button type="button" >Credits</button>
    </a>

    <a href="/howTOuse">
        <button type="button" >How to use</button>
    </a>

    <a href="/associateWITHus">
        <button type="button" >Associate with us</button>
    </a>
</body>
</html>

