<div class="container-fluid">
    <div class="mainnavbar">
      <div class="navbar navbar-default">
        <div class="navbar-brand">
          <a class="btn btn-default " id="btnimage" href="#" 
              role="button">
              <div class="pic">
                <img src="../assets/images/2.png"/>
              </div>
            </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3.5">
          <div class="heading">
              <h1 class="head">
                FAQS
              </h1>
          </div>
      </div>
    </div>
  </div>
  <div class="faqabout">
    <div class="faqmain">
      <div class="colcon">
          <div class="qa">
              <div class="qaheight">
                <div class="q">
                  <span><strong>Q:</strong></span>
                  <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry?</span>
                </div>
                <div class="ans">
                  <span><strong>A:</strong></span>
                  <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</span>
                </div>
              </div>
            </div>
          <div class="qa">
              <div class="qaheight">
                <div class="q">
                  <span><strong>Q:</strong></span>
                  <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry?</span>
                </div>
                <div class="ans">
                  <span><strong>A:</strong></span>
                  <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</span>
                </div>
              </div>
            </div>
          <div class="qa">
              <div class="qaheight">
                <div class="q">
                  <span><strong>Q:</strong></span>
                  <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry?</span>
                </div>
                <div class="ans">
                  <span><strong>A:</strong></span>
                  <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</span>
                </div>
              </div>
            </div>
        <div class="qa">
          <div class="qaheight">
            <div class="q">
              <span><strong>Q:</strong></span>
              <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry?</span>
            </div>
            <div class="ans">
              <span><strong>A:</strong></span>
              <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="colcon">
          <div class="qa">
            <div class="qaheight">
              <div class="q">
                <span><strong>Q:</strong></span>
                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry?</span>
              </div>
              <div class="ans">
                <span><strong>A:</strong></span>
                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</span>
              </div>
            </div>
          </div>
          <div class="qa">
              <div class="qaheight">
                <div class="q">
                  <span><strong>Q:</strong></span>
                  <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry?</span>
                </div>
                <div class="ans">
                  <span><strong>A:</strong></span>
                  <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</span>
                </div>
              </div>
            </div>
            <div class="qa">
                <div class="qaheight">
                  <div class="q">
                    <span><strong>Q:</strong></span>
                    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry?</span>
                  </div>
                  <div class="ans">
                    <span><strong>A:</strong></span>
                    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</span>
                  </div>
                </div>
              </div>
        </div>
        <div class="colcon">
            <div class="qa">
                <div class="qaheight">
                  <div class="q">
                    <span><strong>Q:</strong></span>
                    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry?</span>
                  </div>
                  <div class="ans">
                    <span><strong>A:</strong></span>
                    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</span>
                  </div>
                </div>
              </div>
            <div class="qa">
              <div class="qaheight">
                <div class="q">
                  <span><strong>Q:</strong></span>
                  <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry?</span>
                </div>
                <div class="ans">
                  <span><strong>A:</strong></span>
                  <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</span>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
