<div class="container">


  <i class="fa fa-bars" id="collapse" aria-hidden="true"></i>
    
<div class="mainimgcontainer">
  <div class="mainnavbar">
    <div class="navbar navbar-default">
      <div class="navbar-brand">
        
        
        
        <div class="sidebarmenu">
          <i class="fa fa-times"></i>
          <p class="center">
            <a href="#">
              
            </a>
          </p>
          <ul class="navigation list-unstyled">
            <li class=navigationitem><a routerLink="/home">Home</a></li>
            <li class=navigationitem><a routerLink="/pest-detect">Pest Detect</a></li>
            <li class=navigationitem><a routerLink="">About Us</a></li>
            <li class=navigationitem><a routerLink="/help">Help</a></li>
            <li class=navigationitem><a routerLink="/faqs">FAQs</a></li>
          </ul>
        </div>

      </div>
  </div>
</div>
   <h1 class="heading">Seheyogi</h1>

  <div class="row">
    <p class="para">Lorem ipsum dolor sit amet consectetur,
       adipisicing elit. Autem unde animi veniam explicabo
       necessitatibus tempora sint nisi error, odit impedit incidunt 
       nostrum rem dicta harum, facilis, voluptas dignissimos maxime reiciendis?
    </p>
    <br>
    <br>
    
  </div>
    
</div>





